@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.main {
  height: 100vh;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.image {
  width: 80%;
  height: 60vh;
  padding: 5rem;
  display: flex;
  gap: 4vw;
  border-radius: 10px;
  margin-left: 10%;
  box-shadow: 4px 4px 4px 4px gray;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 10vh;
}
ul {
  list-style-type: none;
}
.text {
  padding: 2vh;
  margin-top: -10vh;
}
.text h2 {
  color: gray;
  font-size: 2rem;
}
.img {
  height: 25vw;
  width: 25vw;
  margin-top: -7vh;
  border-radius: 20px;
}
.btn {
  padding: 0.3rem;
  width: 10vw;
  border-radius: 10px;
  margin-top: 4vh;
}
