@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.main {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color:  rgb(7, 197, 181);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 4px 4px 4px 4px rgb(155, 154, 154);
  z-index: 1;
  color: white;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.logo:hover {
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  font-weight: bolder ;
  color: white;
}

.link{
  text-decoration: none;
  font-weight: bolder ;
  color: white;
}

.link:active{
  border-bottom: 2px solid white;
}

